[class*="spacer-"]{
    display:block;
}
.spacer-1{
    height:10px;
}
.spacer-2{
    height:20px;
}
.spacer-3{
    height:30px;
}
.spacer-4{
    height:40px;
}
.spacer-5{
    height:50px;
}
.spacer-6{
    height:60px;
}
.spacer-7{
    height:70px;
}
.spacer-8{
    height:80px;
}
.spacer-9{
    height:90px;
}
.spacer-10{
    height:100px;
}
.spacer-11{
    height:110px;
}
.spacer-12{
    height:120px;
}