@import 'fonts.scss';
body, html{
    padding:0px;
    margin:0px;
    transition: all .1s ease-in-out;
}

.north25-container{
    margin:auto;
    @include position(relative,2);
    width:100%;
}

.relative{
    @include position(relative);
}

.dark-shade{
    width: 100%;
    height:300px;
    background: url('../image/shade.png') repeat-x bottom;
    @include position(absolute,1);
    bottom:0px;
}

.bgcover{
    background-size:cover;
    background-repeat:no-repeat;
}

.container-padding-160{
    padding:160px 0px;
}

a{
    color:$color-secondary;
    text-decoration:none;
    &:focus{
        outline: none;
    }
    &:hover{
        text-decoration: none;
        color:$color-primary;
    }
}
.svg-defs{ 
    width:100%;
    height:315px; 
    position: relative;
    display:block;
}

.font-color-primary{
    color:$color-primary;
}
.bg-color-black{
    background:$color-secondary;
}

.zindex{
    z-index: 2;
}

.no-padding{
    padding-right:0px;
    padding-left:0px;
    padding-top:0px;
    padding-bottom:0px;
}

.img-responsive{
    width:100%;
    height:auto;
}
