@import 'fonts.scss';
body, html{
    padding:0px;
    margin:0px;
}

.north25-container{
    margin:auto;
    @include position(relative,2);
    width:100%;
}

.relative{
    @include position(relative);
}

.dark-shade{
    width: 100%;
    height:300px;
    background: url('../image/shade.png') repeat-x bottom;
    @include position(absolute,1);
    bottom:0px;
}

.bgcover{
    background-size:cover;
    background-repeat:no-repeat;
}

.container-padding-160{
    padding:160px 0px;
}

a{
    text-decoration:none;
    &:focus{
        outline: none;
    }
    &:hover{
        text-decoration: none;
    }
}