$color-primary : #BA8748;
$color-secondary  : #000;
$color-complimentry : #EAEAEA;
$color-white : #FFF;
$color-text : #888888;
$line-color : #414141;
$footer-text-color: #7B7B7B;
$nav-border-color: #AAAAAA;
$color-post-border: #AFAFAF;