.font-140{
    font-size: pixeltorem(140);
    line-height: pixeltorem(140);
}
.font-90{
    font-size: pixeltorem(90);
    line-height: pixeltorem(90);
}

.font-48{
    font-size: pixeltorem(48);
    line-height: pixeltorem(48);
}

.font-36{
    font-size: pixeltorem(36);
    line-height: pixeltorem(36);
}

.font-30{
    font-size: pixeltorem(30);
    line-height: pixeltorem(30);
}

.font-28{
    font-size: pixeltorem(28);
    line-height: pixeltorem(28);
}


.font-24{
    font-size: pixeltorem(24);
    font-size: pixeltorem(24);
}

.font-20{
    font-size: pixeltorem(20);
    line-height: pixeltorem(30);
}

.font-18{
    font-size: pixeltorem(18);
    line-height: pixeltorem(18);
}

.heading1{
    @extend %font-helvetica-bold;
    font-size: pixeltorem(140);
    line-height: pixeltorem(140);
    color: $color-secondary;
    letter-spacing: -4px;
    margin-bottom:30px;
}



.heading2{
    @extend %font-helvetica-bold;
    font-size: pixeltorem(90);
    color: $color-secondary;
    letter-spacing: -4px;
    margin-bottom:30px;
}


.heading-white{    
    @extend %font-helvetica-bold;
    font-size: pixeltorem(90);
    color: $color-white;
    letter-spacing: -1px;
    margin-bottom:30px; 
}

.paragrah{
    @extend %font-helvetica-regular;
    font-size:pixeltorem(18);
    color: $color-text;
}

.degree{
    @extend %font-helvetica-regular;
}