/************ Pixel 2 Rem converter ***************/
ul.main-nav li a {
  color: #FFF;
  text-decoration: none; }

.paragrah, .degree, .label-prop-small, .label-prop-subtitle, .label-prop-amenities li, .footer-navigation a, footer .copyright, footer a, .page-media-hub .media-articles ul li .post-date, .page-contact address, .page-our-projects .projects .label-prop-small, .page-our-projects .projects .label-prop-amenities li, .page-project-detail .project-amenities li, .page-project-detail .project-tiny-info-container .project-tiny-info li span, .page-project-detail .project-tiny-info-container .project-tiny-info li h3 span {
  font-family: "Helvetica Neue"; }

.heading1, .heading2, .heading3, .heading4, .heading-white, .north25-btn-primary, .north25-btn-secondary, .label-prop-price, .label-prop-title, .service-icons li h3, .page-media-hub .media-articles ul li .post-title, .page-contact address strong, .page-contact address b, .page-our-projects .projects .filters li a, .page-our-projects .projects .label-prop-price, .page-our-projects .projects .label-prop-title, .page-project-detail .project-tiny-info-container .project-tiny-info li h3 {
  font-family: "Helvetica Neue Bold"; }

.bgfadeOut {
  -webkit-animation: fadeOutBg 1s;
  /* Safari 4+ */
  -moz-animation: fadeOutBg 1s;
  /* Fx 5+ */
  -o-animation: fadeOutBg 1s;
  /* Opera 12+ */
  animation: fadeOutBg 1s;
  /* IE 10+, Fx 29+ */ }

@-webkit-keyframes fadeOutBg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeOutBg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeOutBg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeOutBg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue-02.ttf); }
@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url(../fonts/HelveticaNeue-Bold-01.ttf); }
@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url(../fonts/HelveticaNeue-Medium-11.otf); }
body, html {
  padding: 0px;
  margin: 0px;
  transition: all .1s ease-in-out; }

.north25-container {
  margin: auto;
  position: relative;
  z-index: 2;
  width: 100%; }

.relative {
  position: relative;
  z-index: 1; }

.dark-shade {
  width: 100%;
  height: 300px;
  background: url("../image/shade.png") repeat-x bottom;
  position: absolute;
  z-index: 1;
  bottom: 0px; }

.bgcover {
  background-size: cover;
  background-repeat: no-repeat; }

.container-padding-160 {
  padding: 160px 0px; }

a {
  color: #000;
  text-decoration: none; }
  a:focus {
    outline: none; }
  a:hover {
    text-decoration: none;
    color: #BA8748; }

.svg-defs {
  width: 100%;
  height: 315px;
  position: relative;
  display: block; }

.font-color-primary {
  color: #BA8748; }

.bg-color-black {
  background: #000; }

.zindex {
  z-index: 2; }

.no-padding {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px; }

.img-responsive {
  width: 100%;
  height: auto; }

.font-140 {
  font-size: 8.75rem;
  line-height: 8.75rem; }

.font-90 {
  font-size: 5.625rem;
  line-height: 5.625rem; }

.font-48 {
  font-size: 3rem;
  line-height: 3rem; }

.font-36 {
  font-size: 2.25rem;
  line-height: 2.25rem; }

.font-30 {
  font-size: 1.875rem;
  line-height: 1.875rem; }

.font-28 {
  font-size: 1.75rem;
  line-height: 1.75rem; }

.font-24 {
  font-size: 1.5rem;
  font-size: 1.5rem; }

.font-20 {
  font-size: 1.25rem;
  line-height: 1.875rem; }

.font-18 {
  font-size: 1.125rem;
  line-height: 1.125rem; }

.heading1 {
  font-size: 8.75rem;
  line-height: 8.75rem;
  color: #000;
  letter-spacing: -4px;
  margin-bottom: 30px; }

.heading2 {
  font-size: 5.625rem;
  color: #000;
  letter-spacing: -4px;
  margin-bottom: 30px; }

.heading3 {
  font-size: 3.125rem;
  color: #000;
  letter-spacing: -4px;
  margin-bottom: 30px; }

.heading4 {
  font-size: 3.125rem;
  color: #000;
  letter-spacing: -1px;
  margin-bottom: 30px; }

.heading-white {
  font-size: 5.625rem;
  color: #FFF;
  margin-bottom: 30px; }

.paragrah {
  font-size: 1.125rem;
  color: #888888; }

.text-uppercase {
  text-transform: uppercase; }

/* Media Queries */
@media (min-width: 768px) and (max-width: 1024px) {
  .font-140 {
    font-size: 3.75rem;
    line-height: 3.75rem; }

  .font-30 {
    font-size: 1.25rem;
    line-height: 1.25rem; }

  .font-28 {
    font-size: 1.125rem;
    line-height: 1.125rem; }

  .heading2 {
    font-size: 3.75rem; } }
@media (min-width: 1024px) {
  .font-140 {
    font-size: 5rem;
    line-height: 5rem; }

  .font-48 {
    font-size: 2rem;
    line-height: 2rem; }

  .font-28 {
    font-size: 1.375rem;
    line-height: 1.375rem; } }
/*---- Components --- */
.north25-btn-primary, .north25-btn-secondary {
  font-size: 1.25rem;
  color: #FFF;
  padding: 20px 40px;
  min-width: 200px;
  border: 0px;
  display: inline-block;
  cursor: pointer;
  transition: all 200ms ease-in;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center; }
  .north25-btn-primary:focus, .north25-btn-secondary:focus {
    outline: none; }

.north25-btn-primary {
  background: #BA8748; }
  .north25-btn-primary:hover {
    border: 1px solid #BA8748;
    background: #FFF;
    color: #BA8748; }

.north25-btn-secondary {
  background: #000; }
  .north25-btn-secondary:hover {
    border: 1px solid #FFF;
    background: transparent;
    color: #FFF; }

.icon-carousel .icon-slider {
  width: 80vw;
  overflow: hidden;
  height: 142px; }
  .icon-carousel .icon-slider .slides {
    height: 142px;
    position: relative;
    z-index: 1;
    background: #FFF;
    display: block;
    margin: 0 35px; }
  .icon-carousel .icon-slider picture {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 142px; }
    .icon-carousel .icon-slider picture img {
      height: 100px;
      display: block; }
.icon-carousel .arrow {
  position: absolute;
  z-index: 9;
  height: 80px;
  width: 44px;
  top: 55%; }
  .icon-carousel .arrow.next {
    right: 5%; }
  .icon-carousel .arrow.prev {
    left: 5%; }

.navigation-home {
  margin-top: 130px; }

.nav {
  background: #000;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-width: 264px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  justify-content: space-between; }
  .nav .column-1 {
    padding: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    transition: all .2s ease-in-out; }
  .nav .column-2 {
    padding: 20px;
    background: #FFF;
    border-right: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA; }
  .nav .logo-small {
    width: 133px; }
  .nav.open .mobile-navigation {
    display: block; }
  .nav.open .column-1 {
    width: 90vw; }

.sticky {
  position: fixed;
  z-index: 9999;
  top: 100px;
  left: 0px;
  display: none; }
  .sticky.show {
    display: flex; }

.mobile-navigation {
  transition: all .1s ease-in-out;
  display: none; }
  .mobile-navigation .main-nav li a {
    font-size: 1.25rem; }
  .mobile-navigation .main-nav li:hover > .sub-menu {
    transform: scaleY(1);
    opacity: 1; }
    .mobile-navigation .main-nav li:hover > .sub-menu li a {
      font-size: 1rem; }
    .mobile-navigation .main-nav li:hover > .sub-menu li span {
      color: #FFF; }

ul.main-nav {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  list-style: none; }
  ul.main-nav li {
    position: relative;
    z-index: 1; }
    ul.main-nav li a {
      position: relative;
      z-index: 100;
      font-family: 'Helvetica Neue Bold';
      padding: 0px 30px;
      font-size: 1.875rem; }
    ul.main-nav li:hover > .sub-menu {
      transform: scaleY(1);
      opacity: 1; }
      ul.main-nav li:hover > .sub-menu li a {
        font-size: 1.25rem; }

.project-slider {
  overflow: hidden;
  height: 840px; }
  .project-slider picture {
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    height: 840px;
    display: block; }

.project-slider-controls .thumbs {
  position: absolute;
  z-index: 10;
  height: 136px;
  width: 136px;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 0px 5px 23px rgba(0, 0, 0, 0.46);
  margin-top: -68px;
  top: 50%;
  background: #FFF;
  cursor: pointer; }
  .project-slider-controls .thumbs.next {
    right: 60px; }
  .project-slider-controls .thumbs.prev {
    left: 60px; }
  .project-slider-controls .thumbs img {
    position: relative;
    display: block;
    margin: auto;
    margin-top: -27px;
    top: 50%;
    width: 30px; }

.project-details {
  height: 230px; }

[class*="label-prop-"] {
  color: #FFF; }

.label-prop-small {
  font-size: 1.125rem; }

.label-prop-price {
  font-size: 2.375rem;
  margin: 0px 10px; }

.label-prop-title {
  font-size: 3.125rem;
  letter-spacing: -1px;
  margin-bottom: 20px; }

.label-prop-subtitle {
  font-size: 1.375rem;
  margin-bottom: 20px; }

.label-prop-amenities {
  list-style: none;
  margin: 0px;
  padding: 0px; }
  .label-prop-amenities li {
    font-size: 1.125rem; }

.v-line {
  height: 3px;
  width: 100%;
  background: #414141;
  position: absolute;
  z-index: 1; }

.sub-menu {
  position: absolute;
  z-index: 99;
  padding: 50px 30px 20px 30px;
  top: -40px;
  background: #000;
  min-width: 250px;
  transform: scaleY(0);
  transition: all .2s ease-out;
  transform-origin: top;
  opacity: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin-top: 40px; }
  .sub-menu li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    line-height: 44px; }
    .sub-menu li a {
      padding: 0px !important; }
    .sub-menu li span {
      font-size: 24px; }
  .sub-menu.open {
    transform: scaleY(1); }

.hamburger .line {
  width: 30px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.hamburger:hover {
  cursor: pointer; }

.hamburger.is-active .line:nth-child(2) {
  opacity: 0; }

.hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg); }

.hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-44deg);
  -ms-transform: translateY(-7px) rotate(-44deg);
  -o-transform: translateY(-7px) rotate(-44deg);
  transform: translateY(-7px) rotate(-44deg); }

[class*="spacer-"] {
  display: block; }

.spacer-1 {
  height: 10px; }

.spacer-2 {
  height: 20px; }

.spacer-3 {
  height: 30px; }

.spacer-4 {
  height: 40px; }

.spacer-5 {
  height: 50px; }

.spacer-6 {
  height: 60px; }

.spacer-7 {
  height: 70px; }

.spacer-8 {
  height: 80px; }

.spacer-9 {
  height: 90px; }

.spacer-10 {
  height: 100px; }

.spacer-11 {
  height: 110px; }

.spacer-12 {
  height: 120px; }

.avatar {
  position: relative;
  z-index: 2;
  border: 10px solid #FFF;
  border-radius: 100%; }
  .avatar picture {
    padding: 40px;
    border: 3px solid #BA8748;
    background: #FFF;
    overflow: hidden;
    display: block;
    border-radius: 100%; }
    .avatar picture img {
      width: 300px;
      height: 300px;
      clip-path: circle(50% at center); }

/*---- Partials ------*/
.page .sticky {
  display: flex; }
.page .page-header .heading2 {
  margin-bottom: 30px; }
.page .page-header article {
  padding-top: 240px;
  padding-bottom: 80px; }
  .page .page-header article p {
    margin: 1.875rem 0px; }
.page .page-image picture {
  width: 100%;
  height: 254px;
  overflow: hidden; }
.page p {
  color: #888888; }
.page .v-line {
  background: #EAEAEA; }

.header {
  height: 980px;
  width: 100%;
  color: #FFF;
  position: relative;
  z-index: 1;
  transition: all .2s linear; }
  .header h3 {
    color: #FFF;
    font-family: 'Helvetica Neue Bold';
    letter-spacing: -5px; }
  .header p {
    font-family: 'Helvetica Neue';
    font-size: 1.25rem;
    margin-top: 30px; }
  .header .service-list {
    list-style: none;
    font-family: 'Helvetica Neue';
    margin: 0px;
    padding: 0px; }
    .header .service-list h3 {
      margin: 0px 0px 20px 0px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 1.5rem; }
    .header .service-list li {
      margin-bottom: 36px;
      line-height: 36px;
      display: flex;
      align-items: center; }
      .header .service-list li a {
        color: #FFF;
        text-decoration: none; }
      .header .service-list li i {
        margin-right: 15px; }
  .header .scroll-down {
    width: 70px;
    height: 90px;
    margin: auto;
    position: relative;
    z-index: 3;
    overflow: hidden;
    margin-top: 88px; }
    .header .scroll-down .arrow {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      border-radius: 100%;
      border: 3px solid #FFF; }
      .header .scroll-down .arrow i {
        color: #FFF; }
    .header .scroll-down .line {
      width: 3px;
      background: #FFF;
      height: 100%;
      margin: auto; }
  .header .header-overlay-shade {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }

.middle-banner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 974px;
  background: #000 url("../image/pattern.jpg") repeat center;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .middle-banner p {
    color: #FFF;
    width: 49%;
    margin: 20px auto;
    text-align: center;
    line-height: 50px; }

.mask-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 10px;
  height: 315px;
  text-align: center; }
  .mask-bg h3 {
    font-size: 156px;
    line-height: 156px;
    color: transparent;
    text-align: center;
    letter-spacing: -7px;
    font-family: "Helvetica Neue Bold";
    width: 90%;
    margin: auto; }

.line-top {
  width: 3px;
  height: 247px;
  background: #FFF;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  top: -1px; }

.line-bottom {
  width: 3px;
  height: 247px;
  background: #FFF;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  bottom: -20px; }

.text-projects {
  position: absolute;
  z-index: 1;
  bottom: -60px;
  color: #FFF;
  text-transform: uppercase; }

.service-icons {
  margin: 80px 0px;
  padding: 0px;
  list-style: none; }
  .service-icons:after {
    content: '';
    width: 90%;
    height: 3px;
    background: #EAEAEA;
    margin-top: -1px;
    top: 43%;
    position: absolute; }
  .service-icons li {
    width: 212px; }
    .service-icons li .icon-placeholder {
      width: 212px;
      height: 212px;
      border: 3px solid #EAEAEA;
      border-radius: 100%;
      display: block;
      position: relative;
      z-index: 1;
      background: #FFF;
      transition: all .1s ease-in-out; }
      .service-icons li .icon-placeholder img {
        width: 50%;
        height: 50%; }
      .service-icons li .icon-placeholder::after {
        width: 16px;
        height: 16px;
        content: '';
        background: #FFF;
        border: 3px solid #EAEAEA;
        border-radius: 100%;
        position: absolute;
        display: block;
        top: 50%;
        margin-top: -8px;
        right: -8px; }
    .service-icons li h3 {
      margin-top: 20px;
      transition: all .2s ease-in-out; }
    .service-icons li a {
      text-decoration: none;
      color: #000;
      transition: all .2s ease-in-out; }
    .service-icons li.active .icon-placeholder, .service-icons li:hover .icon-placeholder {
      border: 6px solid #BA8748;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.24); }
    .service-icons li.active h3, .service-icons li.active a, .service-icons li:hover h3, .service-icons li:hover a {
      color: #BA8748; }

.our-story .heading2 {
  display: block;
  z-index: 2;
  background: #FFF;
  position: relative;
  z-index: 1;
  max-width: 410px;
  padding: 0 10px; }
.our-story p {
  width: 90%; }
.our-story .v-line {
  height: 3px;
  width: 100%;
  background: #EAEAEA;
  position: absolute;
  z-index: 1;
  top: 180px;
  left: 0px; }
.our-story .degree {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 24%; }

.we-work-with {
  height: 634px;
  background: url("../image/we-work-with.jpg") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; }
  .we-work-with .icon-carousel {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0px; }
    .we-work-with .icon-carousel > div {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column; }

.footer-navigation {
  list-style: none;
  padding: 0px 10px;
  background: #000; }
  .footer-navigation li {
    display: inline-block;
    margin: 0px 20px; }
  .footer-navigation a {
    color: #FFF;
    font-size: 1.25rem;
    display: block; }

footer {
  height: 240px;
  background: #000;
  background-image: url("../image/c.png");
  background-repeat: no-repeat;
  background-position: 70% bottom;
  border-top: 1px solid #EAEAEA; }
  footer .footer-logo {
    width: 270px;
    display: block;
    background: #000; }
  footer .social-icons {
    display: flex;
    background: #000;
    margin: 0px;
    padding: 0px; }
    footer .social-icons li {
      height: 36px;
      width: 36px;
      background: #FFF;
      border-radius: 36px;
      list-style: none;
      margin: 0 10px; }
      footer .social-icons li a {
        display: block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-size: 20px;
        transition: all .5s ease-in-out;
        color: #000; }
        footer .social-icons li a:hover {
          color: #BA8748; }
  footer .copyright {
    position: absolute;
    z-index: 1;
    color: #7B7B7B;
    font-size: 0.875rem;
    bottom: 10%;
    width: 100%;
    text-align: center; }
  footer a {
    color: #7B7B7B; }
    footer a:hover {
      color: #FFF; }
  footer .v-line {
    top: 46%; }

/* About North 25 Page */
.ourvision-label {
  position: relative;
  z-index: 1; }
  .ourvision-label h3 {
    width: 202px;
    font-family: 'Helvetica Neue Bold';
    font-size: 1.5rem;
    color: #FFF;
    margin: auto;
    text-align: center;
    background: #000;
    border: 10px solid #FFF;
    text-transform: uppercase;
    line-height: 45px;
    position: relative;
    z-index: 2;
    letter-spacing: -1px; }
  .ourvision-label .v-line {
    z-index: 1;
    background: #EAEAEA;
    top: 50%; }

.center-label {
  width: 100%;
  position: relative;
  z-index: 1; }

.quote {
  margin: 60px 0; }

.boxes .box {
  min-height: 500px; }
  .boxes .box p {
    font-family: 'Helvetica Neue Regular';
    font-size: 3.75rem;
    line-height: 3.75rem;
    text-indent: 28px; }
.boxes .col .label {
  background: #BA8748;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Helvetica Neue Regular';
  font-size: 1.375rem;
  padding: 30px 0px;
  display: block;
  margin-bottom: 70px; }
.boxes .col, .boxes .heading1 {
  color: #FFF;
  margin-bottom: 0px; }
.boxes .col:nth-child(2) {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  border-left: 1px solid rgba(255, 255, 255, 0.15); }

/* CEO's Message Page */
#ceo-message-header .quote {
  margin: 0px; }

.page-ceo-message .v-line {
  top: 20%; }
.page-ceo-message .picture-outer-frame {
  border: 20px solid #FFF; }
.page-ceo-message .ceo-picture-box {
  padding: 50px;
  border: 3px solid #BA8748;
  width: 418px;
  min-height: 620px;
  display: block;
  background: #FFF; }
  .page-ceo-message .ceo-picture-box .picture-crop {
    width: 100%;
    height: 400px;
    overflow: hidden;
    box-shadow: 0px 13px 56px rgba(0, 0, 0, 0.35); }
    .page-ceo-message .ceo-picture-box .picture-crop img {
      width: 100%;
      height: 400px; }
  .page-ceo-message .ceo-picture-box .caption {
    font-family: 'Helvetica Neue Bold';
    font-size: 3.75rem;
    color: #BA8748;
    background: #FFF;
    position: absolute;
    z-index: 1;
    bottom: 8%;
    left: -5px; }
.page-ceo-message .message {
  color: #888888;
  font-size: 1.125rem; }
.page-ceo-message .caption {
  font-family: 'Helvetica Neue Bold';
  font-size: 2.5rem;
  color: #BA8748;
  background: #FFF;
  display: block;
  letter-spacing: -1px; }

/* OUr Team Page */
.page-our-team .team .v-line {
  top: 30%;
  background: #EAEAEA; }
.page-our-team .team h3 {
  font-family: 'Helvetica Neue Bold';
  font-size: 4.375rem;
  line-height: 4.375rem;
  margin: 0px;
  color: #BA8748;
  background: #FFF;
  z-index: 2;
  padding-right: 30px;
  display: inline; }
.page-our-team .team h4 {
  font-family: 'Helvetica Neue Bold';
  font-size: 2.25rem;
  margin: 0px;
  color: #000;
  margin-bottom: 30px; }

/* Our Work Page */
.page-our-work .middle-banner {
  background: #000; }

.page .sticky {
  display: flex; }
.page .page-header .heading2 {
  margin-bottom: 30px; }
.page .page-header article {
  padding-top: 240px;
  padding-bottom: 80px; }
  .page .page-header article p {
    margin: 1.875rem 0px; }
.page .page-image picture {
  width: 100%;
  height: 254px;
  overflow: hidden; }
.page p {
  color: #888888; }
.page .v-line {
  background: #EAEAEA; }

/* Our Services Page */
.page-our-services .service-description {
  padding: 140px 70px 0px 70px; }
.page-our-services .service-list {
  list-style: none;
  padding: 0px;
  margin: 0px; }
  .page-our-services .service-list li, .page-our-services .service-list a {
    font-family: 'Helvetica Neue Bold';
    letter-spacing: -1px;
    color: #000;
    text-decoration: none;
    line-height: 3.125rem; }
    .page-our-services .service-list li i, .page-our-services .service-list a i {
      padding-right: 20px;
      color: #BA8748; }
.page-our-services .services-slider-control {
  position: absolute;
  z-index: 1;
  right: 15%;
  top: 180px; }
  .page-our-services .services-slider-control .slick-disabled {
    opacity: 0.10; }

/* Media Hub Page */
.page-media-hub .heading2 {
  margin-bottom: 0px !important; }
.page-media-hub .media-articles ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }
  .page-media-hub .media-articles ul li {
    background: url("../image/post-next.png") no-repeat right center;
    border-bottom: 1px solid #AFAFAF;
    padding: 2.1875rem 0px; }
    .page-media-hub .media-articles ul li a {
      color: #000;
      text-decoration: none;
      transition: all .2s ease-in-out; }
      .page-media-hub .media-articles ul li a:hover {
        color: #BA8748; }
    .page-media-hub .media-articles ul li .post-title {
      font-size: 3.125rem;
      letter-spacing: -1px; }
    .page-media-hub .media-articles ul li .post-date {
      font-size: 1.125rem; }

.page-contact address {
  font-size: 1.75rem; }

.page-our-projects .projects {
  transition: all .2s ease-in-out;
  /* Project Container */ }
  .page-our-projects .projects .filters {
    list-style: none;
    text-align: center; }
    .page-our-projects .projects .filters li {
      display: inline-block;
      margin: 0px 40px; }
      .page-our-projects .projects .filters li a {
        font-size: 1.875rem; }
        .page-our-projects .projects .filters li a.active {
          color: #BA8748; }
  .page-our-projects .projects .project-item {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 460px;
    margin: 40px 0px;
    transition: all .2s ease-in-out; }
    .page-our-projects .projects .project-item picture {
      position: relative;
      z-index: 1;
      overflow-x: hidden;
      height: auto;
      display: block; }
  .page-our-projects .projects .project-item-details {
    width: 100%;
    height: 230px;
    position: absolute;
    z-index: 1;
    bottom: 0px; }
  .page-our-projects .projects [class*="label-prop-"] {
    color: #FFF; }
  .page-our-projects .projects .label-prop-small {
    font-size: 1.125rem; }
  .page-our-projects .projects .label-prop-price {
    font-size: 2.375rem;
    margin: 0px 10px; }
  .page-our-projects .projects .label-prop-title {
    font-size: 3.125rem;
    letter-spacing: -1px;
    margin-bottom: 20px; }
  .page-our-projects .projects .label-prop-amenities {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    .page-our-projects .projects .label-prop-amenities li {
      font-size: 1.125rem; }

.page-project-detail {
  /* Footer Overrides */ }
  .page-project-detail .project-amenities {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    .page-project-detail .project-amenities li {
      display: inline-block;
      font-size: 1.125rem;
      margin-right: 20px;
      text-transform: uppercase; }
  .page-project-detail .project-gallery-panel {
    right: 0px;
    top: 0px;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9); }
    .page-project-detail .project-gallery-panel .project-slider {
      height: 100vh; }
      .page-project-detail .project-gallery-panel .project-slider picture {
        height: 100vh; }
    .page-project-detail .project-gallery-panel .project-gallery-side-thumb {
      position: absolute;
      z-index: 1;
      background-position: left center;
      width: 100%;
      height: 100%; }
      .page-project-detail .project-gallery-panel .project-gallery-side-thumb > div {
        opacity: 0.4;
        width: 100%;
        height: 100%; }
      .page-project-detail .project-gallery-panel .project-gallery-side-thumb .zoom-panel {
        position: absolute;
        z-index: 2;
        width: 70px;
        height: 70px;
        background: url("../image/zoom.png");
        top: 50%;
        margin-top: -35px;
        left: 50%;
        margin-left: -35px; }
  .page-project-detail .project-tiny-info-container {
    padding: 2.5rem;
    background: #000; }
    .page-project-detail .project-tiny-info-container .project-tiny-info {
      list-style: none;
      padding: 0px;
      margin: 0px; }
      .page-project-detail .project-tiny-info-container .project-tiny-info li {
        display: inline-block;
        padding: 0px 40px;
        border-right: 1px solid #383838; }
        .page-project-detail .project-tiny-info-container .project-tiny-info li span {
          font-size: 1.125rem;
          color: #BA8748;
          text-transform: uppercase; }
        .page-project-detail .project-tiny-info-container .project-tiny-info li h3 {
          font-size: 3.75rem;
          color: #FFF; }
          .page-project-detail .project-tiny-info-container .project-tiny-info li h3 span {
            font-size: 1.875rem;
            color: #FFF;
            text-transform: lowercase; }
        .page-project-detail .project-tiny-info-container .project-tiny-info li:last-child {
          border-right: 0px; }
  .page-project-detail .project-galleries {
    right: 0px;
    width: 91.666667%; }
  .page-project-detail .zoom-close {
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;
    background: url("../image/close.png") no-repeat;
    top: 50%;
    margin-top: -20px;
    left: 3%;
    background-size: cover; }
  .page-project-detail .project-slider-controls .thumbs {
    top: auto;
    bottom: 5%; }
  .page-project-detail footer {
    height: 200px;
    overflow: hidden; }
    .page-project-detail footer .v-line {
      background: #414141;
      top: 34%; }
    .page-project-detail footer .footer-logo {
      width: 200px; }
    .page-project-detail footer .footer-navigation {
      margin: 20px 0px;
      padding: 0px;
      background: none; }
      .page-project-detail footer .footer-navigation li:first-child {
        margin-left: 0px; }
    .page-project-detail footer .copyright {
      position: relative;
      z-index: 1;
      text-align: left;
      margin: 20px 0px; }
  .page-project-detail .footer-middle-column {
    margin-top: 44px; }

/*----- Overrides ----*/
.icon-slider .slick-slide > div {
  margin: 0px 35px; }

/*# sourceMappingURL=main.css.map */
