/************ Pixel 2 Rem converter ***************/
ul.main-nav li a {
  color: #FFF;
  text-decoration: none; }

.paragrah, .degree, .label-prop-small, .label-prop-amenities li, .footer-navigation a, footer .copyright, footer a {
  font-family: "Helvetica Neue"; }

.heading1, .heading2, .heading-white, .north25-btn-primary, .north25-btn-secondary, .label-prop-price, .label-prop-title, .home-service-icons li h3 {
  font-family: "Helvetica Neue Bold"; }

.bgfadeOut {
  -webkit-animation: fadeOutBg 1s;
  /* Safari 4+ */
  -moz-animation: fadeOutBg 1s;
  /* Fx 5+ */
  -o-animation: fadeOutBg 1s;
  /* Opera 12+ */
  animation: fadeOutBg 1s;
  /* IE 10+, Fx 29+ */ }

@-webkit-keyframes fadeOutBg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeOutBg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeOutBg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeOutBg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue-02.ttf); }
@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url(../fonts/HelveticaNeue-Bold-01.ttf); }
@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url(../fonts/HelveticaNeue-Medium-11.otf); }
body, html {
  padding: 0px;
  margin: 0px; }

.north25-container {
  margin: auto;
  position: relative;
  z-index: 2;
  width: 100%; }

.relative {
  position: relative;
  z-index: 1; }

.dark-shade {
  width: 100%;
  height: 300px;
  background: url("../image/shade.png") repeat-x bottom;
  position: absolute;
  z-index: 1;
  bottom: 0px; }

.bgcover {
  background-size: cover;
  background-repeat: no-repeat; }

.container-padding-160 {
  padding: 160px 0px; }

a {
  text-decoration: none; }
  a:focus {
    outline: none; }
  a:hover {
    text-decoration: none; }

.svg-defs {
  width: 100%;
  height: 315px;
  position: absolute; }

.font-140 {
  font-size: 8.75rem;
  line-height: 8.75rem; }

.font-90 {
  font-size: 5.625rem;
  line-height: 5.625rem; }

.font-48 {
  font-size: 3rem;
  line-height: 3rem; }

.font-36 {
  font-size: 2.25rem;
  line-height: 2.25rem; }

.font-30 {
  font-size: 1.875rem;
  line-height: 1.875rem; }

.font-28 {
  font-size: 1.75rem;
  line-height: 1.75rem; }

.font-24 {
  font-size: 1.5rem;
  font-size: 1.5rem; }

.font-20 {
  font-size: 1.25rem;
  line-height: 1.875rem; }

.font-18 {
  font-size: 1.125rem;
  line-height: 1.125rem; }

.heading1 {
  font-size: 8.75rem;
  color: #000;
  letter-spacing: -4px;
  margin-bottom: 30px; }

.heading2 {
  font-size: 5.625rem;
  color: #000;
  letter-spacing: -4px;
  margin-bottom: 30px; }

.heading-white {
  font-size: 5.625rem;
  color: #FFF;
  letter-spacing: -1px;
  margin-bottom: 30px; }

.paragrah {
  font-size: 1.125rem;
  color: #888888; }

/*---- Components --- */
.north25-btn-primary, .north25-btn-secondary {
  font-size: 1.25rem;
  color: #FFF;
  padding: 20px;
  min-width: 300px;
  border: 0px;
  display: inline-block;
  cursor: pointer;
  transition: all 200ms ease-in;
  text-transform: uppercase;
  letter-spacing: -1px; }
  .north25-btn-primary:focus, .north25-btn-secondary:focus {
    outline: none; }

.north25-btn-primary {
  background: #BA8748; }
  .north25-btn-primary:hover {
    border: 1px solid #BA8748;
    background: #FFF;
    color: #BA8748; }

.north25-btn-secondary {
  background: #000; }
  .north25-btn-secondary:hover {
    border: 1px solid #FFF;
    background: transparent; }

.icon-carousel .icon-slider {
  width: 80vw;
  overflow: hidden;
  height: 142px; }
  .icon-carousel .icon-slider .slides {
    height: 142px;
    position: relative;
    z-index: 1;
    background: #FFF;
    display: block;
    margin: 0 35px; }
  .icon-carousel .icon-slider picture {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 142px; }
    .icon-carousel .icon-slider picture img {
      height: 100px;
      display: block; }
.icon-carousel .arrow {
  position: absolute;
  z-index: 9;
  height: 80px;
  width: 44px;
  top: 55%; }
  .icon-carousel .arrow.next {
    right: 5%; }
  .icon-carousel .arrow.prev {
    left: 5%; }

.navigation-home {
  margin-top: 130px; }

.nav {
  background: #000;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-width: 264px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  justify-content: space-between; }
  .nav .column-1 {
    padding: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000; }
  .nav .column-2 {
    padding: 20px;
    background: #FFF;
    border-right: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA; }
  .nav .logo-small {
    width: 133px; }
  .nav.open .mobile-navigation {
    display: block; }
  .nav.open .column-1 {
    width: 90vw; }

.sticky {
  position: fixed;
  z-index: 999;
  top: 100px;
  left: 0px;
  display: none; }
  .sticky.show {
    display: flex; }

.mobile-navigation {
  transition: all .1s ease-in-out;
  transform: scaleX(0);
  display: none; }
  .mobile-navigation .main-nav li a {
    font-size: 1.25rem; }
  .mobile-navigation .main-nav li:hover > .sub-menu {
    transform: scaleY(1);
    opacity: 1; }
    .mobile-navigation .main-nav li:hover > .sub-menu li a {
      font-size: 1rem; }

ul.main-nav {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  list-style: none; }
  ul.main-nav li {
    position: relative;
    z-index: 1; }
    ul.main-nav li a {
      position: relative;
      z-index: 100;
      font-family: 'Helvetica Neue Bold';
      padding: 0px 30px;
      font-size: 1.875rem; }
    ul.main-nav li:hover > .sub-menu {
      transform: scaleY(1);
      opacity: 1; }
      ul.main-nav li:hover > .sub-menu li a {
        font-size: 1.25rem; }

.project-slider {
  overflow: hidden;
  height: 840px; }
  .project-slider picture {
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    height: 840px;
    display: block; }

.project-slider-controls .thumbs {
  position: absolute;
  z-index: 10;
  height: 136px;
  width: 136px;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 0px 5px 23px rgba(0, 0, 0, 0.46);
  margin-top: -68px;
  top: 50%;
  background: #FFF;
  cursor: pointer; }
  .project-slider-controls .thumbs.next {
    right: 60px; }
  .project-slider-controls .thumbs.prev {
    left: 60px; }

.project-details {
  height: 230px; }

[class*="label-prop-"] {
  color: #FFF; }

.label-prop-small {
  font-size: 1.125rem; }

.label-prop-price {
  font-size: 2.375rem;
  margin: 0px 10px; }

.label-prop-title {
  font-size: 5rem;
  letter-spacing: -1px;
  margin-bottom: 20px; }

.label-prop-amenities {
  list-style: none;
  margin: 0px;
  padding: 0px; }
  .label-prop-amenities li {
    font-size: 1.125rem; }

.v-line {
  height: 3px;
  width: 100%;
  background: #414141;
  position: absolute;
  z-index: 1; }

.sub-menu {
  position: absolute;
  z-index: 99;
  padding: 50px 30px 20px 30px;
  top: -40px;
  background: #000;
  min-width: 250px;
  transform: scaleY(0);
  transition: all .2s ease-out;
  transform-origin: top;
  opacity: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin-top: 40px; }
  .sub-menu li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    line-height: 44px; }
    .sub-menu li a {
      padding: 0px !important; }
    .sub-menu li span {
      font-size: 24px; }
  .sub-menu.open {
    transform: scaleY(1); }

.hamburger .line {
  width: 30px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.hamburger:hover {
  cursor: pointer; }

.hamburger.is-active .line:nth-child(2) {
  opacity: 0; }

.hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg); }

.hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-44deg);
  -ms-transform: translateY(-7px) rotate(-44deg);
  -o-transform: translateY(-7px) rotate(-44deg);
  transform: translateY(-7px) rotate(-44deg); }

/*---- Partials ------*/
.header {
  height: 980px;
  width: 100%;
  color: #FFF;
  position: relative;
  z-index: 1; }
  .header h3 {
    color: #FFF;
    font-family: 'Helvetica Neue Bold';
    letter-spacing: -5px; }
  .header p {
    font-family: 'Helvetica Neue';
    font-size: 1.25rem;
    margin-top: 30px; }
  .header .service-list {
    list-style: none;
    font-family: 'Helvetica Neue';
    margin: 0px;
    padding: 0px; }
    .header .service-list h3 {
      margin: 0px 0px 20px 0px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 1.5rem; }
    .header .service-list li {
      margin-bottom: 36px;
      line-height: 36px;
      display: flex;
      align-items: center; }
      .header .service-list li a {
        color: #FFF;
        text-decoration: none; }
      .header .service-list li i {
        margin-right: 15px; }
  .header .scroll-down {
    width: 70px;
    height: 90px;
    margin: auto;
    position: relative;
    z-index: 3;
    overflow: hidden;
    margin-top: 88px; }
    .header .scroll-down .arrow {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      border-radius: 100%;
      border: 3px solid #FFF; }
      .header .scroll-down .arrow i {
        color: #FFF; }
    .header .scroll-down .line {
      width: 3px;
      background: #FFF;
      height: 100%;
      margin: auto; }

.middle-banner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 974px;
  background: #000 url("../image/pattern.jpg") repeat center;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .middle-banner p {
    color: #FFF;
    width: 49%;
    margin: 20px auto;
    text-align: center;
    line-height: 50px; }

.mask-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 10px;
  height: 315px; }
  .mask-bg h3 {
    font-size: 156px;
    line-height: 156px;
    color: transparent;
    text-align: center;
    letter-spacing: -7px;
    font-family: "Helvetica Neue Bold";
    width: 90%;
    margin: auto; }

.line-top {
  width: 3px;
  height: 247px;
  background: #FFF;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  top: -1px; }

.line-bottom {
  width: 3px;
  height: 247px;
  background: #FFF;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  bottom: -20px; }

.text-projects {
  position: absolute;
  z-index: 1;
  bottom: -60px;
  color: #FFF;
  text-transform: uppercase; }

.home-service-icons {
  margin: 80px 0px;
  padding: 0px;
  list-style: none; }
  .home-service-icons:after {
    content: '';
    width: 90%;
    height: 3px;
    background: #EAEAEA;
    margin-top: -1px;
    top: 43%;
    position: absolute; }
  .home-service-icons li {
    width: 212px; }
    .home-service-icons li .icon-placeholder {
      width: 212px;
      height: 212px;
      border: 3px solid #EAEAEA;
      border-radius: 100%;
      display: block;
      position: relative;
      z-index: 1;
      background: #FFF; }
      .home-service-icons li .icon-placeholder img {
        width: 50%;
        height: 50%; }
      .home-service-icons li .icon-placeholder::after {
        width: 16px;
        height: 16px;
        content: '';
        background: #FFF;
        border: 3px solid #EAEAEA;
        border-radius: 100%;
        position: absolute;
        display: block;
        top: 50%;
        margin-top: -8px;
        right: -8px; }
    .home-service-icons li h3 {
      margin-top: 20px; }
    .home-service-icons li.active .icon-placeholder {
      border: 6px solid #BA8748;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.24); }
    .home-service-icons li.active h3 {
      color: #BA8748; }

.our-story .heading2 {
  display: block;
  z-index: 2;
  background: #FFF;
  position: relative;
  z-index: 1;
  max-width: 410px;
  padding: 0 10px; }
.our-story p {
  width: 90%; }
.our-story .v-line {
  height: 3px;
  width: 100%;
  background: #EAEAEA;
  position: absolute;
  z-index: 1;
  top: 180px;
  left: 0px; }
.our-story .degree {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 24%; }

.we-work-with {
  height: 634px;
  background: url("../image/we-work-with.jpg") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; }
  .we-work-with .icon-carousel {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0px; }
    .we-work-with .icon-carousel > div {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column; }

.footer-navigation {
  list-style: none;
  padding: 0px 10px;
  background: #000; }
  .footer-navigation li {
    display: inline-block;
    margin: 0px 20px; }
  .footer-navigation a {
    color: #FFF;
    font-size: 1.25rem;
    display: block; }

footer {
  height: 330px;
  background: #000;
  background-image: url("../image/c.png");
  background-repeat: no-repeat;
  background-position: 70% bottom; }
  footer .footer-logo {
    width: 270px;
    display: block;
    background: #000; }
  footer .social-icons {
    display: flex;
    background: #000;
    margin: 0px;
    padding: 0px; }
    footer .social-icons li {
      height: 36px;
      width: 36px;
      background: #FFF;
      border-radius: 36px;
      list-style: none;
      margin: 0 10px; }
      footer .social-icons li a {
        display: block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-size: 20px;
        transition: all .5s ease-in-out;
        color: #000; }
        footer .social-icons li a:hover {
          color: #BA8748; }
  footer .copyright {
    position: absolute;
    z-index: 1;
    color: #7B7B7B;
    font-size: 0.875rem;
    bottom: 10%;
    width: 100%;
    text-align: center; }
  footer a {
    color: #7B7B7B; }
    footer a:hover {
      color: #FFF; }

/*----- Overrides ----*/
.icon-slider .slick-slide > div {
  margin: 0px 35px; }

/*# sourceMappingURL=main.css.map */
