.middle-banner{
    @include flex;
    @include flex-align(center,null);
    width:100%;
    height:974px;
    background: #000 url('../image/pattern.jpg') repeat center;
    @include position(relative, 2);
    @include flex;
    @include flex-align(center,center);
    @include flex-direction(column);

    p{
        color:$color-white;
        width:49%;
        margin:20px auto;
        text-align: center;
        line-height:50px;
    }
}

.mask-bg{    
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;        
    padding-bottom:10px;
    height:315px;    
    
    h3{
        font-size:156px;
        line-height:156px;
        color: transparent;
        text-align: center;
        letter-spacing: -7px;
        font-family: "Helvetica Neue Bold";
        width:90%;
        margin:auto;
    }
   
}

.line-top{
    width:3px;
    height:247px;
    background:$color-white;
    margin:0 auto;
    @include position(absolute);
    top: -1px;
}
.line-bottom{
    width:3px;
    height:247px;
    background:$color-white;
    margin:0 auto;
    @include position(absolute);
    bottom:-20px;
}

.text-projects{
    @include position(absolute);
    bottom:-60px;
    color:$color-white;
    text-transform: uppercase;
}